pyaudio
SpeechRecognition
--extra-index-url https://download.pytorch.org/whl/cu116
torch
numpy
git+https://github.com/openai/whisper.git
py-cord[voice]
python-dotenv
python-youtube
wolframalpha
requests